name: Update Activity

on:
  schedule:
    - cron: "0 * * * *" # Se actualiza cada hora
  workflow_dispatch: # Permite ejecutarlo manualmente

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v3
      - uses: gautamkrishnar/github-activity-readme@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          COMMIT_MSG: "Actualizando actividad reciente"
          MAX_LINES: 5
